.footer
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message (in 25 characters or less)"}
      .submit
        %input{type: "submit", class: "submit-btn", value: "Post"}
  %p="legrosapp 2020"