.header
  .header__box
    .header__box__logo
      LegrosApp
    .header__box__menu
      -if user_signed_in?
        .contents__btn
          = current_user.name
          =link_to "Logout", destroy_user_session_path, method: :DELETE, class: "contents__btn"
      -else
        =link_to "Login", new_user_session_path, class: "contents__btn"
        =link_to "Signup",new_user_registration_path, class: "contents__btn"