.header
  .header__box
    .header__box__logo
      LegrosApp
    .header__box__menu
      =link_to "#", class: "contents__btn" do
        Naoko
      =link_to "#", class: "contents__btn" do
        Logout