.main
  .main__posts
    .main__posts__post
      .main__posts__post__text
        test test test
      .main__posts__post__info
        .main__posts__post__info__name
          naoko tamura
        .main__posts__post__info__date
          2020/2/8(Sat)

    .main__posts__post
      .main__posts__post__text
        test test test
      .main__posts__post__info
        .main__posts__post__info__name
          yohei
        .main__posts__post__info__date
          2020/2/8(Sat)





.form
  %form.new_message
    .input-box
      %input{type: "text", class: "input-box__text", placeholder: "type a message (in 25 characters or less)"}
    .submit
      %input{type: "submit", class: "submit-btn", value: "Post"}