.main
  .main__posts
    - @posts.each do |post|
      .main__posts__post
        .main__posts__post__text
          = post.message
        .main__posts__post__info
          .main__posts__post__info__name
            = post.user.name
          .main__posts__post__info__date
            = post.created_at.strftime("%Y/%m/%d %H:%M")

